@mixin onTable {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin toggleButton {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.83px;
  border-radius: 22px;
}
